body{
	margin: 0;
}
ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}
img{
	display: block;
	width: 100%;
	height: auto;
}
#header{
	background-color: #ccc;
}
.container{
	max-width: 1000px;
	margin: 0 auto;	
}
.clearfix {
    content: "";
    display: table;
    clear: both;
}
.content{
	background-color: #ccc;
}
.progress-bar{
	margin-bottom: 50px;
	background-color: #eae8e8;
}
.progress{
	background-color: black;
	color: white;
	text-transform: uppercase;
	font-size: 10px;
	line-height: 24px;
	display: inline-block;
}
.pin{
	display: inline-block;
}
.col-4{
	width: 33.33333%;
	float: left;
    padding: 0 30px;
}
.col-6{
	width: 50%;
}
.category{
    float: left;
}
.text{
	float: right;
}
.annotation{
	float: left;
}
.skills{
	float: right;
}
.container p{
	padding: 40px;
}
.footer{
	background-color: #ccc;
}
#logo{
	
	float:left;
}
#nav{
	float: right;
	text-transform: uppercase;	
}
@media (min-width:720px){

	
}
