* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #ccc;
}
ul {
  margin: 0;
  padding-left: 0;
}
li {
  list-style-type: none;
}
img {
  display: block;
}
#header {
  background-color: #ccc;
}
.photo {
  width: 50%;
  float: left;
}
.photo img {
  border-radius: 50%;
}
.Narrative {
  width: 22%;
  float: right;
  font-size: 30px;
}
.container {
  margin: 0 auto;
  text-align: center;
}
.conteiner > .row-nt hr {
  margin: 0 auto;
  border: none;
  height: 2px;
  background-color: #595959;
}
.clearfix,
.row {
  content: "";
  display: table;
  clear: both;
}
.nav {
  text-transform: uppercase;
  font-size: 30px;
}
.gmail {
  display: table;
  color: #00C5FB;
}
.content {
  background-image: url("jpg/tablecloth.jpg");
  background-color: #ccc;
}
.Introduction {
  margin: 0;
  top: 35%;
  font-size: 24px;
  font-weight: 300;
}
.progress-bar {
  margin-bottom: 50px;
  background-color: #eae8e8;
}
.progress {
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 24px;
  display: inline-block;
}
.pin {
  display: inline-block;
}
.row-nt {
  margin: 0 auto;
  text-align: center;
}
.col-4 {
  width: 33.33333%;
}
.col-6 {
  width: 50%;
  float: left;
}
.yuta > img {
  width: 200px;
  border-radius: 50%;
}
.col-4,
.col-6 {
  padding: 0 10px;
  float: left;
}
.text > .Introduction > hr {
  width: 100%;
}
.col-4 > hr {
  border-top: #979797 5px solid;
  width: 100px;
}
.container p {
  padding: 14px;
}
.footer {
  background-color: #ccc;
}
#logo {
  float: left;
}
.thumbnail,
.cover:hover {
  opacity: 1;
}
.cover {
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  border: 40px solid rgba(0, 0, 0, 0.1);
  top: 790px;
  left: 60px;
  text-align: center;
  opacity: 0;
  transition: all 0.3s;
}
